<include file="Common/header" />
<div id="page-wrapper">
	<div class="graphs">
		<div class="content_bottom">
			<div class="col-md-12 span_3">
				<div class="bs-example1" data-example-id="contextual-table">

					<form class="form-horizontal" action="" method="get" enctype="multipart/form-data">
						<h3>稿件列表</h3>
						<div class="form-group">
							投稿题目 <input type="text" name="name" style="width: 150px" value=""  placeholder="">
							<!--产品id <input type="text" name="productid" style="width: 150px" value=""  id="focusedinput" placeholder="">-->
							用户id <input type="text" name="uid" style="width: 150px" value=""  placeholder="">
							网站类型<select style="width: 150px" name="type">
							<option value="0">全部</option>
							<foreach name="type" item='v'>
							<option value="{$v.id}">{$v.name}</option>
							</foreach>
						</select>
							<button class="btn-success btn">Submit</button>
						</div>
					</form>
					<table class="table">
						<thead>

						<tr style="text-align: center;">

						</tr>
						<tr>
							<th>用户id</th>
							<!--<th>产品id</th>-->
							<th>稿件标题</th>
							<th>稿件类型</th>
							<th>审核状态</th>
							<th>提交时间</th>
							<th>操作</th>

						</tr>
						</thead>
						<tbody>
						<?php
		      		$i = 1;
		      	?>
						<foreach name="users" item='v'>

							<?php
		      		if(($i%2)==1){
						echo "<tr class='active'>";
							}else{
							echo "<tr class='info'>";
							}
							?>
							<th>{$v.uid}</th>
							<!--<th>{$v.productid}</th>-->
							<th>{$v.title}</th>
							<th>{$v.typename}</th>
							<th><if condition="$v.state eq 2"> 已提交<elseif condition="$v.state eq 3"/>审核通过<elseif condition="$v.state eq 4"/>审核不通过</if></th>
							<th>{$v.addymd}</th>
							<th><a href="__ROOT__/index.php/Admin/Menber/detgj/id/{$v.id}">操作</a></th>

						</tr>
							<?php $i++ ;?>
						</foreach>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="copy">
			<include file="Common/foot" />
		</div>
	</div>
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Bootstrap Core JavaScript -->
<script src="__ROOT__/Public/admin/js/bootstrap.min.js"></script>
</body>
</html>
