*{margin: 0;padding: 0;font-size: 16px;}
li{list-style: none;}
.mui-bar-nav{box-shadow: none;-webkit-box-shadow: none; background: #5da200;}
.mui-title,.mui-icon-left-nav {color: #fff;}
.mui-icon-arrowleft,.mui-title,.mui-bar .mui-btn-nav.mui-pull-left{color:#fff;}
button{border:none;outline: none;}
.fr{float: right;}
.shadow_mask {
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background: rgba(0, 0, 0, 0.54);
}
.main_pop_head {
    width: 100%;
    height: .7rem;
    line-height: 0.7rem;
 
    background: #5da200;
    color: #FFFFFF;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    text-align: center;
    z-index: 2;
}
.maskContent{
    width: 6rem;
    height: 8.5rem;
    top: 1rem;
    left: 50%;
    margin-left: -3rem;
    position: absolute;
    z-index: 101;
    background: #F8F0DD;
    border-radius: .3rem;
    border: 3px solid #5da200;
   
    margin-top: .7rem;
}
.maskContent .scroll_table{height:7.5rem;  overflow-y: scroll;}
.flex{display: flex;background: #fff;border-bottom: 1px solid #eee;}
.flex>li{flex:1;text-align: center;padding: 8px 0;line-height: 27px;font-size: .32rem;}
.flex>li.time{color: #999;font-size: 12px;}
.main_pop_head span{font-weight: bold;font-size: .35rem;}
.closeImg{width: .5rem;margin-right: .2rem;}
.maskList{width: 95%;margin:.1rem auto;}
.maskList>li{border-radius: .1rem;overflow: hidden; background: #DCDCDC;margin-bottom: .1rem;padding: .17rem .05rem;position: relative;}
.maskList>li img{width: .8rem;float: left;margin:.1rem;}
.maskList>li ul{float: left;margin-top: 0.1rem;margin-left: 0.04rem;max-width: 3.7rem;}
.maskList>li ul li{font-size: 0.28rem;font-weight: 900;color: #600A0A;line-height: .4rem;}
.buySpan,.useSpan{    display: inline-block;
    background: rgb(253, 59, 12);
    color: #FFFFFF;
    width: 0.8rem;
    height: 0.4rem;
    line-height: .4rem;
    text-align: center;
    box-shadow: 4px 4px 4px #C4C5C5;
    border-radius: 0.1rem;
    position: absolute;
    bottom: .2rem;font-size: .26rem;
    right: .2rem;}
.closeImg, .closeImg2 {
    width: .5rem;
    position: absolute;
    right: -.1rem;
    top: .1rem;
}

.hidden{display: none;}
.main_pop_head{width: 100%;z-index: 22;}
.returnImg{width: .6rem;left: .2rem;position: absolute;top: 0.05rem;}
 .main_com_li {
    height: 0.6rem;
    line-height: 0.6rem;
    border-bottom: 1px solid #E3E3E3;
        padding: .2rem 0;
    box-sizing: content-box;
}
.main_com_li_left {
    display: inline-block;
    width: 2rem;
    font-size: 0.28rem;
    font-weight: bold;
    text-align: center;
    color: #600A0A;
}
.main_com_li input {
    width: 2rem;
    height: 0.48rem;
    font-size: 0.22rem;
    border-radius: 0.1rem;
    border: none;
    text-align: center;
    color: #FB6625;
    border: 1px solid #3EA8ED;
    font-weight: 400;
}
.confirm{width: 2rem;display: block;margin:.6rem auto 20px;border:none;outline: none;background: #5da200;border-radius: .1rem;color: #fff;}
.look_xiaji{display: block;margin:.1rem auto;border:none;outline: none;background: #5da200;border-radius: .1rem;color: #fff;}
.shippAddress{width: 2.4rem;display: block;margin:2.6rem auto 0;border:none;outline: none;background: #5da200;border-radius: .1rem;color: #fff;}
.adressContent{}
.code_tip{text-align: center;font-size: 12px;color: #600A0A;}
.codeimg{width: 200px;display: block;margin:10px auto;}


table.liushui{width: 100%;}
table.liushui tr{border-bottom: 1px solid #e0dfde;}
table.liushui td{text-align: center; background: #eee;font-size: .3rem;padding: .25rem .1rem;font-weight: bold;line-height: .3rem;}
table.liushui td:last-child{font-size: .28rem;}


table.group{width: 100%;}
table.group tr{border-bottom: 1px solid #e0dfde;}
table.group td{text-align: center; background: #eee;font-size: .28rem;padding: .25rem .1rem;font-weight: bold;line-height: .3rem;}
table.group td:last-child{font-size: .24rem;}

.mui-btn-block {
    width: 80%;
    margin: 20px auto;
    padding: 6px 0;
    background: #5da200;
    color: #fff;
    font-family: "微软雅黑";
	font-size: 16px;
}
.mui-input-group .mui-input-row {
    background: #fff;
}
.mui-input-group, .mui-input-group:after {
    background: transparent;
}


/*注册*/
.page{ padding:0 10px;}
.main {padding: 15px 0 80px;}
.main .item {margin-bottom: 10px;position: relative;width: 100%;}
.main .item .txt-username,.main .item .txt-password,.main .item .txt-password ,.main .item .txt-password_PwdTwo,.main .item .txt-captcha{ text-indent:10px;}
.main .item .txt-phone {text-indent:80px;}
.main .item .txt-input {background: none repeat scroll 0 0 #fff;border: 1px solid #d7d7d7;border-radius:5px; color: #252525;font-size: 14px;height: 44px;width: 100%;margin-bottom:0;padding: 0;}
.main .item-username .input-close {right: 7px;}

.main .item-login-option .retrieve-password {float: right;text-align: right;width: 50%;}
.main .item-login-option .retrieve-password a {color: #4eabe8;font-size: 15px;text-decoration: underline;}
.main .item-login-other{}
.main .item-login-other dt {color: #666;font-size: 14px; margin-bottom: 13px;}
.main .item-login-other dd .qq {width: 20%;}
.main .item-login-other dd a {float: left;}
.main .item-login-other dd a span {display:block;height: 40px;overflow: hidden; width: 40px;}
.ui-btn-wrap { padding-top:5px; padding-bottom:10px;}
.ui-btn-lg {cursor:pointer;border-radius:5px;display: block;font-size: 14px;height: 40px;width: 100%; text-align:center;}
.ui-btn-primary {background-clip: padding-box;background-color: #5da200;color: #fff;}
.ui-btn-danger{background-clip: padding-box;background-color: #de3b8a;border-color: #de3b8a;color: #fff;}
.main .item-captcha {margin-bottom: 10px;}
.main .item-captcha .input-info {margin-bottom: 10px;}
.main .item-captcha .input-close {right: 79px;}
.main .item-captcha .captcha-img { border-left: 1px solid #d7d7d7;height: 25px; padding-left: 7px; position: absolute;right: 0;top: 9px;width: 79px;}
.main .item-captcha .err-tips {color: #848689;font-size: 13px;margin: 13px 0 0px;}
.main .item-captcha .err-tips a { color: #0052ce; text-decoration: underline;}
