<div class="kstd clearfix row hidden-lg">
    <a href="/index.php/Home/User/userlist/id/<?php echo $_GET['id']; ?>" class="item item1"><i
            class="glyphicon glyphicon-edit"></i>
        <p>个人代表注册</p></a>
    <a href="/index.php/Home/User/usertougaoList/id/<?php echo $_GET['id']; ?>" class="item item4"><i
            class="fa fa-file-text"></i>
        <p>稿件状态</p></a>


    <!--<a href="http://hnus2017.medmeeting.org/V2/User/ResourceList/6313" class="item item5">-->
    <!--<i class="icon-social-youtube"></i>-->
    <!--<p>我的讲课视频</p>-->
    <!--</a>-->
    <!--<a href="http://hnus2017.medmeeting.org/V2/User/ResourceFollow/6313" class="item item6">-->
    <!--<i class="icon-star"></i>-->
    <!--<p>讲课视频收藏</p>-->
    <!--</a>-->
</div>