<div class="short-nav dropdown">
    <a href="http://www.medmeeting.org/MiniSite/Content/20393?type=1#" class="dropdown-toggle fr"
       data-toggle="dropdown" id="dropdownMenu2">
        <i class="iconfont icon-menu"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu2">
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://www.medmeeting.org/MiniSite/Content/20389?type=1">
                <i class="iconfont icon-huanying2"></i>
                欢迎辞
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://www.medmeeting.org/MiniSite/Content/20390?type=1">
                <i class="iconfont icon-zhuban"></i>
                组织机构
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://www.medmeeting.org/MiniSite/Content/23117?type=1">
                <i class="iconfont icon-k11"></i>
                特邀嘉宾
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://www.medmeeting.org/MiniSite/ProgramLot/4581">
                <i class="iconfont icon-richeng"></i>
                日程一览
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://www.medmeeting.org/MiniSite/Content/20393?type=1">
                <i class="iconfont icon-edit-alt"></i>
                报名参会
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://www.medmeeting.org/MiniSite/Content/20394?type=1">
                <i class="iconfont icon-jiudian"></i>
                预定酒店
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://www.medmeeting.org/MiniSite/Content/26335?type=1">
                <i class="iconfont icon-tags"></i>
                征文投稿
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://www.medmeeting.org/MiniSite/Content/20396?type=1">
                <i class="iconfont icon-fax"></i>
                联系我们
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://www.medmeeting.org/MiniSite/User/4581">
                <i class="iconfont icon-user-2"></i>
                个人中心
            </a>
        </li>
    </ul>
</div>