<div class="footer">
    <div class="c">
        <p align="center">
            <span style="font-family:Microsoft YaHei;">{$data.title}</span>
        </p>

        <div style="text-align:center;clear:both;margin:0px auto;padding:10px 0px; font-family:Microsoft YaHei;">
            <!--<div>-->
                <!--<span style="color:#c00;font-size:12px;">大会官方网站内容未经允许，禁止拷贝或转载本站内容，禁止建立类似会议注册页面，否则追究法律责任！</span>-->
            <!--</div>-->
            <div>
                技术支持电话：400-XXXXXXXX
                京ICP备11011505号-31
            </div>
            <div class="adminlogin">
                <p align="center">
                    <a href="/index.php/Admin/User/login" target="_blank">管理入口</a>
                </p>
            </div>
        </div>
        <div class="cl"></div>
    </div>
</div>