<div class="banner">
    <div class="title" id="banner-title">
    </div>
    <div id="banner-bg" style="height: auto">
        <img src="{$data.banpic}" id="img" width="980">
    </div>
</div>
<ul class="nav">
    <li class="on"><a href="javascript:void(0)" id="showtime">今天是2017年11月14日</a></li>
    <li>
        <a href="/index.php/Home/Index/index/id/<?php echo $_GET['id']; ?>" >首页</a>
        <div class="sub">
        </div>
    </li>
    <li class="">
        <a href="/index.php/Home/Index/base/id/<?php echo $_GET['id']; ?>">基本信息</a>
        <div class="sub" style="display: block;">
        </div>
    </li>
    <li class="">
        <a href="/index.php/Home/Index/tougao/id/<?php echo $_GET['id']; ?>">征文投稿</a>
        <div class="sub" style="display: block;">
        </div>
    </li>
    <li>
        <a href="/index.php/Home/Index/content/id/<?php echo $_GET['id']; ?>">会议内容</a>
        <div class="sub">
        </div>
    </li>
    <li>
        <a href="/index.php/Home/Index/comereg/id/<?php echo $_GET['id']; ?>">参会注册</a>
        <div class="sub">
        </div>
    </li>
    <li>
        <a href="/index.php/Home/Index/hotel/id/<?php echo $_GET['id']; ?>">酒店交通</a>
        <div class="sub">
        </div>
    </li>
    <li>
        <a href="/index.php/Home/Index/contact/id/<?php echo $_GET['id']; ?>">联系我们</a>
        <div class="sub">
        </div>
    </li>
</ul>