<div class="fl m_l pl10">
    <div class="deadtime">
        <div class="cl"></div>
        <div class="t">
            距离会议开幕还有
        </div>
        <ul class="daojishi-p">
            <div class="f16 tc">会议已结束</div>
        </ul>
        <div class="c">
            <a href="#" target="_self" class="but">个人代表注册</a>
            <a href="#" target="_self" class="but">团队代表注册</a>
        </div>
    </div>
    <div class="cl10"></div>
    <div class="box time">
        <div class="c">
            <div class="tit">会议日期</div>
            <p style="padding-left: 20px">{$data.meetdate}
            </p>
            <div class="tit">征文投稿截止日期</div>
            <p style="padding-left: 20px">{$data.tougaodate}
            </p>
            <div class="tit">网上注册截止日期</div>
            <p style="padding-left: 20px">{$data.regdate}</p>
            <div class="tit">现场报到日期</div>
            <p style="padding-bottom: 0px; padding-left: 20px">{$data.spotdate}</p>
        </div>
    </div>

</div>